<p-toast
  key="bc"
  position="top-right"
  [breakpoints]="{ '768px': { width: '100%', right: '0', left: '0' } }"
></p-toast>

<div>
  <img class="picture" src="./../../assets/images/deposito.jpg" alt="" />
  <div class="title">
    <h1>Depósito de Bebidas</h1>
  </div>
  <div class="inputs">
    <div>
      <input
        style="width: 500px"
        type="text"
        #searchInput
        (input)="dt1.filterGlobal(searchInput.value, 'contains')"
        pInputText
        placeholder="Digite um produto"
      />
      <button pButton type="button" icon="pi pi-search"></button>
    </div>
    <div class="buttons">
      <button
        style="margin-right: 10px"
        pButton
        type="button"
        routerLink="/products/cadastrar"
        icon="pi pi-plus"
        label="Cadastrar"
      ></button>
      <button
        pButton
        type="button"
        routerLink="/provider"
        icon="pi pi-plus"
        label="Cadastrar Fornecedor"
      ></button>
    </div>
  </div>
  <div class="table">
    <p-table #dt1 [value]="products" [globalFilterFields]="['nome']">
      <ng-template pTemplate="header">
        <tr>
          <th>Nome</th>
          <th>Recipiente</th>
          <th>Quantidade</th>
          <th>Valor</th>
          <th>Fornecedor</th>
          <th><i class="pi pi-trash"></i></th>
          <th><i class="pi pi-pencil"></i></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.nome }}</td>
          <td>{{ product.recipiente + " L" }}</td>
          <td>{{ product.quantidade }}</td>
          <td>{{ "R$ " + product.valor }}</td>
          <td>{{ product.fornecedor }}</td>

          <td>
            <button
              pButton
              type="button"
              (click)="deleteProduct(product.id)"
              icon="pi pi-times"
              class="p-button-danger mr-2"
            ></button>
          </td>
          <td>
            <button
              class="button"
              pButton
              type="button"
              [routerLink]="['/products', product.id]"
              icon="pi pi-user-edit"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
