<p-toast
  key="bc"
  position="top-right"
  [breakpoints]="{ '768px': { width: '100%', right: '0', left: '0' } }"
></p-toast>

<div>
  <img class="picture" src="./../../assets/images/deposito.jpg" alt="" />
  <div class="title">
    <h1>Depósito de Bebidas</h1>
  </div>
  <div class="inputs">
    <input
      type="text"
      pInputText
      id="newInput"
      placeholder="Adicionar novo item:"
      [(ngModel)]="product.nome"
    />
    <input
      type="text"
      pInputText
      id="newContainer"
      placeholder="Recipiente:"
      [(ngModel)]="product.recipiente"
    />
    <input
      type="text"
      pInputText
      id="newQuantity"
      placeholder="Quantidade:"
      [(ngModel)]="product.quantidade"
    />
    <input
      type="text"
      pInputText
      id="newPrice"
      placeholder="Valor:"
      [(ngModel)]="product.valor"
    />
    <button pButton (click)="post(product)">Adicionar</button>
  </div>
  <div>
    <p-table [value]="products" class="column">
      <ng-template pTemplate="header">
        <tr>
          <th>Nome</th>
          <th>Recipiente</th>
          <th>Quantidade</th>
          <th>Valor</th>
          <th><i class="pi pi-trash"></i></th>
          <th><i class="pi pi-pencil"></i></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body">
        <tr>
          <td>{{ product.nome }}</td>
          <td>{{ product.recipiente }}</td>
          <td>{{ product.quantidade }}</td>
          <td>{{ product.valor }}</td>
          <td>
            <button
              pButton
              type="button"
              (click)="deleteProduct(product.id)"
              icon="pi pi-times"
              class="p-button-danger mr-2"
            ></button>
            <button
              pButton
              type="button"
              [routerLink]="['/product', product.id]"
              icon="pi pi-user-edit"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
